.footer
  min-width: 1002px;
  position: relative; 
  z-index: 3; 
  clear: both; 
  padding: 30px 0; 
  margin-top: -310px; 
  background: #FFF;

  &:before
    width: 100%;
    height: 15px;
    position: absolute;
    top: -15px;
    content: "";
    display: block;
    background: url(../imgs/backgrounds/footer.png) top left repeat-x;

  .footer-container
    width: 978px;
    margin: 0 auto;
    
    .footer-content-contact p, 
    .footer-content-contact a
      color: #808285;
            
    .footer-content-contact a
      text-decoration: underline;
          
    .footer-content-contact p 
      margin: 0;
      font-size: 12px;
      text-align: center;
    
    .footer-content
      *zoom: 1;
      padding-bottom: 30px;
      margin-bottom: 30px;
      border-bottom: 1px solid #d2d2d2;
      
      &:before
        content: " ";
        display: table;

      &:after
        content: " ";
        display: table;
        clear: both;

      .customer-nav a
        color: #808285;
        font-size: 14px;
  
        &:hover
          color: #df1a47;
      
      .social
        width: 220px;
        
        p
          color: #808285;
          font-size: 11px;
          line-height: normal;
        
        .social-links
          margin-bottom: 12px;
          line-height: 1.33333em;
          overflow: hidden;
          
          .social-link
            width: 22px;
            height: 22px;
            display: inline-block;
            text-indent: 110%;
            overflow: hidden;
            white-space: nowrap;
          
          .facebook-link
            background: url(../imgs/ui/social_facebook.png) no-repeat;

            &:hover
              background: url(../imgs/ui/social_facebook_over.png) no-repeat;

          .instagram-link
            background: url(../imgs/ui/social_instagram.png) no-repeat;

            &:hover
              background: url(../imgs/ui/social_instagram_over.png) no-repeat;

          .pinterest-link
            background: url(../imgs/ui/social_pinterest.png) no-repeat;

            &:hover
              background: url(../imgs/ui/social_pinterest_over.png) no-repeat;
        
          .social-links-list
            float: left;
            
            li
              float: left;
              margin-right: 0.83333em;
      
      .payment
        width: 274px;

        .logos-mastercard, .logos-visa, .logos-hipercard
          width: 45px;
          height: 25px;
          float: left;
          margin-right: 0.83333em;
          display: inline-block;
          text-indent: 110%;
          overflow: hidden;
          white-space: nowrap;

        .logos-mastercard
          background: url(../imgs/logos/mastercard.png) no-repeat;

        .logos-visa
          background: url(../imgs/logos/visa.png) no-repeat;

        .logos-hipercard
          background: url(../imgs/logos/hipercard.png) no-repeat;
      
      .security
        width: 100px;
        
        .ssl-certificate
          width: 100px;
          height: 59px;
          display: inline-block;
          text-indent: 110%;
          overflow: hidden;
          white-space: nowrap;
          background: url(../imgs/logos/digicert_badge.png) no-repeat;
          
          &:hover
            background: url(../imgs/logos/digicert_badge_over.png) no-repeat;
        
      .footer-panel
        float: left;
        
        h3
          margin: 0 0 0.83333em 0;
          color: #808285;
          font-weight: 900;
        
        .customer-nav
          width: 384px;
          
          ul
            *zoom: 1;
            margin: 0;
            
            &:before, &:after
              content: " ";
              display: table;

            &:after
              clear: both;

            li
              width: 50%;
              float: left;
              
    