.header-container
  min-width: 1002px;
  position: relative;
  z-index: 12;
  border-top: 4px solid pink_color;
  background: white_color;
  
  .header-content
    width: 978px;
    margin-left: auto;
    margin-right: auto;
    
    &:before
      content: " ";
      display: table;

    &:after
      content: " ";
      display: table;
      clear: both;

    .logo-container
      float: left;
      margin-bottom: 2em;
      margin-top: 2em;

    .dinda-logo
      width: 167px;
      height: 45px;
      float: left;
      display: inline-block;
      text-indent: 110%;
      overflow: hidden;
      white-space: nowrap;
      background: url(../imgs/logos/dinda.png) no-repeat;

    .slogan
      float: left;
      margin: 1.75em 0 0 1.16667em;
      color: black_color;
      font-size: 1.25em;
      font-weight: 300;
      line-height: 1.25em;
      text-transform: none;
      
      strong
        font-weight: 500;
        

@media (max-width: 1016px)
  .main
    padding: 0 0 290px 0;

  .header, .checkout-flow .header
    height: 50px;
    margin-bottom: 5px;

  .header
    width: 100%;
    height: 85px;
    top: 0;
    z-index: 10;
  
    .header-container
      box-shadow: 0 2px 2px -2px rgba(0,0,0,0.15);
      height: 50px;
      padding: 0;
      min-width: 100%;
      
      .header-content
        width: 100%;
        padding: 5px 0;
        
        .logo-container
          margin: 0 auto;
          height: 19px;
          width: 79px;
          float: none;
          
        .dinda-logo
          width: 70px;
          height: 19px;
          background: url("../imgs/logos/dinda_small.png") no-repeat;
          top: -57px;
  
        .slogan
          display: none;
