.site-nav-container {
      min-width: 1002px;
      width: 100%;
      margin-bottom: 2em;
      position: relative;
      z-index: 11;
      border-top: 1px dashed #c8c8c8;
      background: #fff;

      -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.1);
      -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.1);
      box-shadow: 0 1px 0 rgba(0,0,0,0.1);
    }

    .site-nav-content {
      width: 978px;
      margin-left: auto;
      margin-right: auto;
      *zoom: 1;
    }

    .site-nav-content:before {
      content: " ";
      display: table;
    }

    .site-nav-content:after {
      content: " ";
      display: table;
      clear: both;
    }

    .site-menu {
      width: 100%;
      height: 2.84615em;
      position: relative;
      float: left;
      font-size: 1.08333em;
      font-weight: 500;
      font-family: "museo-sans", sans-serif;
    }

    .site-menu li {
      position: relative;
      float: left;
      border-top: 2px solid transparent;
      border-right: 1px solid #e1e1e1;
    }

    .site-menu li:first-child {
      border-left: 1px solid #e1e1e1;
    }

    .site-menu li a {
      height: 2.69231em;
      display: block;
      padding: 0 1.69231em;
      color: #000;
      line-height: 2.69231em;
      text-transform: uppercase;
    }

    .site-menu li strong {
      color: #f0425a;
    }

    .site-menu li:hover {
      padding-top: 1px;
      margin-top: -1px;
      border-top: 2px solid #df1a47;
      background: #fafafa;
    }

    .site-menu .item-credits {
      float: right;
      border-left: 1px solid #e1e1e1;
    }

    .site-menu .item-credits a:after {
      width: 29px;
      height: 18px;
      float: left;
      margin: 8px 5px 0 0;
      content: "";
      background: url(../imgs/logos/mgm.gif) repeat-x;
    }

    .content {
      width: 97.25275%;
      clear: both;
      overflow: hidden;
      padding: 32px 32px 40px 36px;
      margin: 0 auto;
      border-bottom: 1px solid #d0d0d0;
      background: #fff;
    }

    .banner {
      margin-bottom: 2.5em;
    }