.title
	height: 30px;
	position: relative;
	margin-bottom: 1.5em;
	color: #ACACAC;
	font-size: 1.33333em;
	font-weight: 500;
	line-height: 1.875em;
	text-align: center;
	
	span 
		background: #FFF;
		padding: 0 1.25em;
		position: relative;
	
	&:before
		width: 100%;
		height: 1px;
		content: "";
		position: absolute;
		top: 0.8125em;
		left: 0;
		background: #ACACAC;
		