.carrousel-container 
    width: 70%;
    display: block;
    overflow: hidden;
    margin: 0 auto;
    position: relative;	
    height: 400px;	
	
	.carrousel-list
		display: inline-block;
		height: auto;
		left: 0;
		position: absolute;

		.carrousel-item 
			height: 400px; 
			width: 200px;
			float: left;
			margin-right: 30px;

			.product-image
				display: inline-block; 
				height: 242px; 
				width: 100%; 
				background-size: contain;
				
				span
					display: none;
			
			.product-detail
				width: 100%;
				display: inline-block;
				
				.product-title a,
				.product-title
					color: #000;
					font-size: 1em;
				
				.product-tag
					color: #B9B9B9;
					font-size: 0.813em;
					text-transform: uppercase;
				
				.product-off
					color: #D01818;
					text-transform: uppercase;


.carrousel-navigation
	width: 90%;
	display: block;
	position: absolute;
	z-index: 10;
	height: auto;
	top: 40%;
	left: 5%;

	.next
		float: right;
		right: 0;
	
	.prev
		float: left;		
		left: 0;
		
		&:before
			margin: 0 0 0 5px;

	.next, .prev
		background: #67c2b4;
		height: 25px;
		width: 20px;
		padding: 8px 11px;
		border-radius: 100px;
		position: absolute;			
		
		&:before
			border-right: 0.2em solid #FFF;
			border-bottom: 0.2em solid #FFF;
			content: "";
			display: inline-block;
			height: 1em;
			vertical-align: bottom;
			width: 1em;				
	
	.next:before
		-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		transform: rotate(-45deg);
		
	.prev:before
		-webkit-transform: rotate(135deg);
		-ms-transform: rotate(135deg);
		transform: rotate(135deg)
		

.carrousel-wrapper
	display: inline-block;
	position: relative;
	width: 100%;