*
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing(border-box);

body, html
  height: 100%;

html
  font-size: 100%;
  text-size-adjust(100%);

body
  font: normal 300 75%/1.6 museo-sans;
  background: gray_color url(../imgs/backgrounds/pattern.png) center 400px repeat-x;

li
  list-style: none;

a
  color: pink_color;
  text-decoration: none;

h1, h2, h3, h4, h5, h6
  color: pink_color;
  font-family: museo-sans;
  font-weight: 700;
  text-transform: uppercase;

h3
  font-size: 120%;

strong
  font-weight: 700;

.hide
  display: none;

.show
  display: inline-block;

.main 
  min-height: 100%; 
  position: relative; 
  padding-bottom: 310px;
  
.container
  width: 978px;
  position: relative;
  z-index: 1;
  *zoom: 1;
  padding: 24px 0 0;
  margin: 0 auto 39px auto;

  &:before 
    display-table();

  &:after
    display-table();
    clear: both;  

