/*
 * Web Fonts from fontspring.com
 *
 * All OpenType features and all extended glyphs have been removed.
 * Fully installable fonts can be purchased at http://www.fontspring.com
 *
 * The fonts included in this stylesheet are subject to the End User License you purchased
 * from Fontspring. The fonts are protected under domestic and international trademark and 
 * copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
 * distributing this font software.
 *
 * (c) 2010-2016 Fontspring
 *
 *
 *
 *
 * The fonts included are copyrighted by the vendor listed below.
 *
 * Vendor:      exljbris Font Foundry
 * License URL: https://www.fontspring.com/licenses/exljbris/webfont
 *
 *
 */

@font-face {
	font-family: 'museo-sans';
	src: url('../fonts/MuseoSans_500-webfont.eot');
	src: url('../fonts/MuseoSans_500-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/MuseoSans_500-webfont.woff2') format('woff2'),
	     url('../fonts/MuseoSans_500-webfont.woff') format('woff'),
	     url('../fonts/MuseoSans_500-webfont.ttf') format('truetype'),
	     url('../fonts/MuseoSans_500-webfont.svg#museo_sans500') format('svg');
	font-weight: normal;
	font-style: normal;
}

