.dinda-form
  width: 885px;
  margin: 0 auto;
  
  .bt
    clear: both;
    display: block;
    margin: 0 auto;
    padding: 5px 10px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    letter-spacing: 1px;
    border: 1px solid rgba(0, 0, 0, .15);
    box-shadow: inset 0 -2px 0 0 rgba(63, 63, 63, .1);
    background-color: #df1a47;

    &:hover
      border: 1px solid rgba(0, 0, 0, .20);
      box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, .15);
      background-color: #d01a43;

    &:active
      position: relative;
      top: 1px;
      left: 1px;
      box-shadow: inset 0 18px 0 0 rgba(0, 0, 0, .05);
    
  .options
    width: 100%;
    clear: both;
    float: left;
    margin-bottom: 2.5em;

    .option-1 label:before
      background: url(../imgs/form/option1.png) no-repeat;

    .option-2 label:before
      background: url(../imgs/form/option2.png) no-repeat;
    
    .option-3 label:before
      background: url(../imgs/form/option3.png) no-repeat;
    
    li
      width: 295px;
      float: left;
      text-align: center;
    
      &:first-child p
        background: none;

      p
        width: 295px;
        height: 80px;
        font-size: 16px;
        line-height: 21px;
        vertical-align: middle;
        display: table-cell;
        background: url(../imgs/ui/arrow.png) no-repeat bottom left;

      input
        width: 17px;
        height: 17px;
        display: inline-block;
        margin: 6px 0;
        cursor: pointer;

      label
        display: block;
        cursor: pointer;

        &:before
          width: 182px;
          height: 75px;
          display: block;
          content: "";
          margin: 0 auto;
          