/************************************************
	variables fonts
************************************************/
museo-sans = "museo-sans", sans-serif;
/************************************************
	variables colors
************************************************/
pink_color 	= #df1a47;
white_color = #FFF;
black_color = #000;
/************************************************
	Mixins
************************************************/
display-table() 
	content: " ";
	display: table;

box-sizing(arg)
	-webkit-box-sizing: arg;
	-moz-box-sizing: arg;
	box-sizing: arg;

text-size-adjust(arg)
	-webkit-text-size-adjust: arg;
	-ms-text-size-adjust: arg;